/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
}

 .avatar-img {
     width: 2rem;
     height: 2rem;
     border-radius: 50%;
 }
 
 .thoughts {
     width: 43%;
     margin: 0 29.9%;
     font-family: Arial, Helvetica, sans-serif;
     color: rgb(0, 123, 164);
 }

 .new-tweet {
     width: 100%;
     height: 10rem;
 }

 .main {
     width: 40%;
     margin: 0 29.9%;
 }

 .fa-twitter, .fa-pen, .fa-trash {
     color: rgb(0, 123, 164);
 }

 .fa-pen, .fa-trash {
     font-size: 1.2rem;
 }

 .fa-trash {
     float: right;
     padding-left: 5px;
 }

 .fa-pen {
    float: right;
    padding-right: 5px;
 }